body {
    margin: 5rem;
}
.card {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}
.card img {
    width: 100%;
    height: 100%;
}
@media screen and (max-width:500px){
    body {
    margin: 3rem;
    }
}