body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.card {
     margin: 5rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}
.card img {
    height: 80vh;
    width: 80vw;
    object-fit: cover;
}
@media screen and (max-width:930px){
   .card img {
    height: 70vh;
    width: 80vw;
}
}
@media screen and (max-width:800px){
   .card img {
    height: 50vh;
    width: 80vw;
}
}
@media screen and (max-width:580px){
   .card img {
    height: 40vh;
    width: 90vw;
}
}
@media screen and (max-width:440px){
   .card img {
    height: 30vh;
    width: 90vw;
}
}
footer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    margin: 0;
    color: #fff;
    font-size: 20px;
}